@font-face {
  font-family: 'IranSans';
  src: local('IranSans'),
    url(./assets/fonts/5c53f1a72f61b5b51e2ea79a22ebc38b.ttf) format('truetype');
}
* {
  font-family: 'IranSans';
}
.dropdown-toggle {
  color: black !important;
  direction: rtl !important;
  font-weight: bolder;
}
.dropdown-menu {
  padding: 10px;
  left: -100px !important;
  position: absolute !important;
  width: fit-content !important;
  background-color: #161f3c !important;
}
.dropdown-item {
  color: white !important;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.btn-modal {
  position: relative;
  bottom: 45px;
  margin-left: 10px;
}
@media only screen and (max-width: 992px) {
  .showNav1 {
    display: none !important;
  }
  .showNav2 {
    display: block !important;
  }
  .dropdown-toggle {
    color: white !important;
    direction: rtl !important;
    font-weight: bolder !important;
  }

  .dropdown-item {
    color: #161f3c !important;
  }
  .dropdown-menu {
    padding: 10px;
    left: 0px !important;
    position: absolute !important;
    width: fit-content !important;
    background-color: #ffffff !important;
  }
  .contactStyle {
    justify-content: end !important;
  }
}
@media only screen and (min-width: 992px) {
  .showNav2 {
    display: none !important;
  }
  .showNav1 {
    display: flex !important;
  }
}
@media only screen and (max-width: 550px) {
  .searchBtn {
    padding: 0px 20px !important;
  }
  .btn-modal {
    position: relative;
    bottom: 0px;
    margin-left: 10px;
  }
  .contactFont {
    font-size: 8px !important;
  }
}
.slick-prev {
  display: none !important;
}
.slick-next {
  display: none !important;
}
.slick-list {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.footer {
  background: url('./assets/Img/footer1.png') no-repeat !important ;
}
.modal-header {
  border: none !important;
}
.modal-footer {
  border: none !important;
}
.login-btn {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #f1a314;
  border: none;
}
.cls-1 {
  fill: #a3a3a3;
}
.cls-2 {
  fill: #020019;
}
.modal-backdrop {
  backdrop-filter: blur(9px) !important;
  background-color: #41434470 !important;
}
.modal-backdrop.show {
  opacity: 1.5 !important;
}
.MuiPagination-ul {
  justify-content: center !important;
}
/* .form-input2 {
  border-radius: 10px;
  border: 1px solid #0000004f;
  height: 50px;
  outline: none;
  background: white;
  padding: 10px;
  text-align: right;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 12px -5px inset;
} */
.form-input2 {
  border-radius: 10px;
  border: 1px solid #0000004f;
  height: 50px;
  outline: none;
  background: white;
  padding: 10px;
  text-align: right;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 12px -5px inset;
  width: -webkit-fill-available;
}
